<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%c] - %m%n"/>
        </Console>
        <RollingFile name="all" fileName="logs/log.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d %p [%c] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="all" level="all"/>
            <appender-ref ref="Console" level="all"/>
        </root>
    </loggers>
</configuration>